﻿@model MiroslawHrynaczLab5.Models.Movie
@{
    ViewBag.Title = "Index";
}

<h2>The random movie</h2>
<div>
    @using (Html.BeginForm("AddNewMovie", "Movies", FormMethod.Post))
    {
        @Html.DisplayNameFor(Model => Model.Name)
        @Html.EditorFor(Model => Model.Name)
        @Html.DisplayNameFor(Model => Model.ReleaseTime)
        @Html.EditorFor(Model => Model.ReleaseTime)
        <input type="submit" value="Dodaj"/>
    }
</div>