﻿@model IEnumerable<MiroslawHrynaczLab5.Models.Movie>
@{
    ViewBag.Title = "ShowAll";
}

<h2>Lista wszystkich filmów</h2>
<div>
@foreach (var movie in Model)
{
    <p>Name:<b>@movie.Name</b></p>
    <p>Data:<b>@movie.ReleaseTime</b></p>
    @Html.ActionLink("Usuń", "DeleteById", new {@id=movie.Id})
    @Html.ActionLink("Edytuj", "UpdateById", new { @id = movie.Id })
}
</div>
