﻿@model MiroslawHrynaczLab5.Models.Movie
@{
    ViewBag.Title = "UpdateById";
}
<h2>Edycja</h2>
<div>
    @using (Html.BeginForm("Save", "Movies", FormMethod.Post))
    {
        @Html.HiddenFor(Model => Model.Id)
        @Html.DisplayNameFor(Model => Model.Name)
        @Html.EditorFor(Model => Model.Name)
        @Html.DisplayNameFor(Model => Model.ReleaseTime)
        @Html.EditorFor(Model => Model.ReleaseTime)
        <input type="submit" value="Zmień" />
    }
</div>
